---
import ClientTestimonial from "../components/ClientTestimonal.astro";
import GalleryImage from "../components/GalleryImage.astro";
import SingleColumnArticle from "../components/SingleColumnArticle.astro";
import TwoColumnArticle from "../components/TwoColumnArticle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Sunnyside agency landing page">
  <div class="mx-auto max-w-screen-2xl">
    <section>
      <h2 class="sr-only">About sunnyside</h2>
      <TwoColumnArticle
        title="Transform your brand"
        body="We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you."
        mobileImgSrc="images/mobile/image-transform.webp"
        desktopImgSrc="images/desktop/image-transform.webp"
        learnMoreColor="bg-my-yellow-200"
        invertedOrder={true}
      />
      <TwoColumnArticle
        title="Stand out to the right audience"
        body="Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we'll build and extend your brand in digital places."
        mobileImgSrc="images/mobile/image-stand-out.webp"
        desktopImgSrc="images/desktop/image-stand-out.webp"
        learnMoreColor="bg-my-red-200"
        invertedOrder={false}
      />

      <div class="grid sm:grid-cols-2">
        <SingleColumnArticle
          title="Graphic design"
          body="Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients' attention."
          mobileImgSrc="images/mobile/image-graphic-design.webp"
          desktopImgSrc="images/desktop/image-graphic-design.webp"
          textColor="text-my-green-600"
        />
        <SingleColumnArticle
          title="Photography"
          body="Increase your credibility by getting the most stunning, high-quality photos that improve your business image. "
          mobileImgSrc="images/mobile/image-photography.webp"
          desktopImgSrc="images/desktop/image-photography.webp"
          textColor="text-my-blue-600"
        />
      </div>
    </section>

    <section>
      <div class="px-6 sm:px-16 xl:px-36">
        <h2
          class="mt-16 mb-16 text-center font-fraunces text-sm font-black uppercase tracking-[0.25em] text-my-neutral-200 sm:mb-20 sm:mt-36 sm:text-xl"
        >
          Client testimonials
        </h2>
        <div class="mb-20 grid gap-12 sm:mb-40 sm:grid-cols-3 sm:gap-10">
          <ClientTestimonial
            body="We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit."
            personName="Emily R."
            personTitle="Marketing Director"
            imgSrc="images/image-emily.webp"
          />
          <ClientTestimonial
            body="Sunnyside's enthusiasm coupled with their keen interest in our brand's success made it a satisfying and enjoyable experience."
            personName="Thomas S."
            personTitle="Chief Operating Officer"
            imgSrc="images/image-thomas.webp"
          />
          <ClientTestimonial
            body="Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!"
            personName="Jennie F."
            personTitle="Business Owner"
            imgSrc="images/image-jennie.webp"
          />
        </div>
      </div>
    </section>
  </div>

  <div class="grid grid-cols-2 sm:grid-cols-4">
    <div>
      <GalleryImage
        mobileImgSrc="images/mobile/image-gallery-milkbottles.webp"
        desktopImgSrc="images/desktop/image-gallery-milkbottles.webp"
      />
    </div>
    <div>
      <GalleryImage
        mobileImgSrc="images/mobile/image-gallery-orange.webp"
        desktopImgSrc="images/desktop/image-gallery-orange.webp"
      />
    </div>
    <div>
      <GalleryImage
        mobileImgSrc="images/mobile/image-gallery-cone.webp"
        desktopImgSrc="images/desktop/image-gallery-cone.webp"
      />
    </div>
    <div>
      <GalleryImage
        mobileImgSrc="images/mobile/image-gallery-sugar-cubes.webp"
        desktopImgSrc="images/desktop/image-gallery-sugar-cubes.webp"
      />
    </div>
  </div>
</Layout>
